@{
    ViewBag.Title = "Profile";
    T001.Models.Graph pG = ViewBag.Graph;
    T001.Model_View.View_Profile vP = ViewBag.ViewProfile;
    Tweetinvi.Logic.AuthenticatedUser user = ViewBag.User;

    var getMostDetails = vP.mostDetails;
    var getUserDetails = vP.userDetails;
    var hashtags = vP.hashtags;

}

<h2>@ViewBag.Title</h2>

@*<p>
        @Html.BeginForm("Profile", "Main")
        <input type="text" name="userName" value="Model.HandleName" />
        @Html.EndForm()
    </p>*@

@if (@Model != null)
    {
    <div class="row Portfolio">
        <div class="col-md-1">
            <img src=@user.ProfileImageUrl alt="@user.ScreenName" class="img-circle">
        </div>
        <div class="col-md-4" style="padding: 0px; margin: 0px;}">
            <h2>Welcome @user.Name</h2>
        </div>
    </div>

    <hr />
    <h3>Details Of @ViewBag.User.Name</h3>
    <div class="row">
        <ul class="list-group col-md-4">
            <li class="list-group-item"><span class="badge">@vP.userStats.UserFollowers</span>User Followers</li>
            <li class="list-group-item"><span class="badge">@vP.userStats.UserFollowing</span>User Following</li>
            <li class="list-group-item"><span class="badge">@vP.userStats.UserListed</span>User Listed</li>
            <li class="list-group-item"><span class="badge">@vP.userStats.AverageTweetsPerDay</span>Average Tweets Per Day</li>
            <li class="list-group-item"><span class="badge">@vP.userStats.LinksInTweets</span>Links in Tweet</li>
        </ul>
        <ul class="list-group col-md-4">
            <li class="list-group-item"><span class="badge">@vP.userStats.Ratio_Follower_Following</span>Follower/Following</li>
            <li class="list-group-item"><span class="badge">@vP.userStats.Ratio_Listed_100Followers</span>Listed/Follower(100)</li>
            <li class="list-group-item"><span class="badge">@vP.userStats.Ratio_UserMentions_Tweets_Ratio</span>User Mention/Tweet Ratio</li>
            <li class="list-group-item"><span class="badge">@vP.userStats.Ratio_Link_Tweet</span>Links/Tweets</li>
            <li class="list-group-item"><span class="badge">@vP.userStats.UserMentionsWithinTweets</span>User Mention</li>
        </ul>
        <ul class="list-group col-md-4">
            <li class="list-group-item"><span class="badge">@vP.userStats.TweetsAreRetweets</span>Tweets are Re-tweets</li>
            <li class="list-group-item"><span class="badge">@vP.userStats.TweetsAreReplies</span>Tweets are Replies</li>
            <li class="list-group-item"><span class="badge">@vP.userStats.TweetRetweetByOther</span>Tweet Re-tweets by other</li>
            <li class="list-group-item"><span class="badge">@vP.userStats.TweetFavByOther</span>Tweet Favorite by Other</li>
            <li class="list-group-item"><span class="badge">@vP.userStats.TimesTheTweetsWereRetweeted</span>Times tweets were Re-tweet</li>
        </ul>
    </div>

    @*<br />
        <hr />
        <p> Here is the graphical representation of the tweets for past 2 week.</p>
        <p>On the vertical line is the number  of tweets.</p>
        <br />*@
    <hr />

    <div class="row">
        <h2>
            <span class="badge">@pG._LineGraph_NoOfTweetsByDate.Data.Count</span> tweets from @DateTime.Today.ToString("dd. MMM-yy") to @(DateTime.Today.AddDays(-14).ToString("dd. MMM-yy"))
        </h2>
        <div class="col-md-12">
            @Html.Partial("LineChart", pG._LineGraph_NoOfTweetsByDate);
        </div>
        @*<div class="col-md-4 col-md-offset-4">
                @Html.Partial("BarChart", pG);
            </div>*@
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4>Users most retweeted</h4>
            <div class="ScrollStyle">
                <table class="table table-condensed table-striped">
                    <tbody>
                        @foreach (var item in getUserDetails._GetUserMostRetweet)
                            {
                            <tr>
                                <td class="UserImage"><img src="@item.ProfileIcon" alt="@item.TwitteHandle" class="img-rounded" /></td>
                                <td>@item.UserName</td>
                                <td>@item.TwitteHandle</td>
                                <td>@item.Retweet retweets</td>
                                <td>@item.Follower followers</td>
                                <td>@item.Following followings</td>
                                <td>@item.tweet tweets</td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4>Users most replied to</h4>
            <div class="ScrollStyle">
                <table class="table table-condensed table-striped">
                    <tbody>
                        @foreach (var item in getUserDetails._GetUserMostRepliesTo)
                            {
                            <tr>
                                <td class="UserImage"><img src="@item.ProfileIcon" alt="@item.TwitteHandle" class="img-rounded" /></td>
                                <td>@item.UserName</td>
                                <td>@item.TwitteHandle</td>
                                <td>@item.Replies replies</td>
                                <td>@item.Follower followers</td>
                                <td>@item.Following followings</td>
                                <td>@item.tweet tweets</td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-8">
            <h4>Users most mentioned</h4>
            <div class="ScrollStyle">
                <table class="table table-condensed table-striped">
                    <tbody>
                        @foreach (var item in getUserDetails._GetUserMostMention)
                            {
                            <tr>
                                <td class="UserImage"><img src="@item.ProfileIcon" alt="@item.TwitteHandle" class="img-rounded" /></td>
                                <td>@item.UserName</td>
                                <td>@item.TwitteHandle</td>
                                <td>@item.Mention mentions</td>
                                <td>@item.Follower followers</td>
                                <td>@item.Following followings</td>
                                <td>@item.tweet tweet</td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Hashtags most used</h4>
            <div class="ScrollStyle">
                <table class="table table-condensed table-striped">
                    <tbody>
                        @foreach (var item in hashtags.hashtagDetails)
                            {
                            <tr>
                                <td>@item.hashtag</td>
                                <td>@item.hashtagsCount use</td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-md-12">
            <h4>Most retweeted tweets</h4>
            <div class="ScrollStyle">
                <table class="table table-condensed table-striped">
                    <tbody>
                        @foreach (var item in getMostDetails._GetMostRetweetedTweets)
                            {
                            <tr>
                                <td class="UserImage"><img src="@item.ProfileIcon" alt="@item.TwitteHandle" class="img-rounded" /></td>
                                <td>@item.UserName</td>
                                <td>@item.TwitteHandle</td>
                                <td>@item.TweetDate</td>
                                <td>@item.TweetText</td>
                                <td>@item.Retweet retweets</td>
                                <td>@item.Favourite favorites</td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-md-12">
            <h4>Most favorited tweets</h4>
            <div class="ScrollStyle">
                <table class="table table-condensed table-striped">
                    <tbody>
                        @foreach (var item in getMostDetails._GetMostFavouriteTweets)
                            {
                            <tr>
                                <td class="UserImage"><img src="@item.ProfileIcon" alt="@item.TwitteHandle" class="img-rounded" /></td>
                                <td>@item.UserName</td>
                                <td>@item.TwitteHandle</td>
                                <td>@item.TweetDate</td>
                                <td>@item.TweetText</td>
                                <td>@item.Retweet retweets</td>
                                <td>@item.Favourite favorites</td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <h3>Graph for Day wise tweets</h3>
            @Html.Partial("BarChart", pG._BarGraph_NoOfTweetsByDayOfWeek)
        </div>
        <div class="col-md-6">
            <h3>Graph for Hour wise tweets</h3>
            @Html.Partial("BarChart", pG._BarGraph_NoOfTweetsByHour)
        </div>
    </div>

    }
else
    {
    <h2>Authentication failed!</h2>
    <p>Something went wrong during the authentication, please <a href="/Home/TwitterAuth">try again</a>!</p>
    }
