@{
    ViewBag.Title = "Validate TwitterAuth";
    T001.Model_View.View_Profile vP = ViewBag.View_Profile;
    T001.Model_View.View_Connections vC = ViewBag.View_Connections;
    T001.Model_View.View_Keyword vK = ViewBag.View_Keyword;
    Tweetinvi.Logic.AuthenticatedUser user = ViewBag.User;
    T001.Models.ProfileGraph pG = ViewBag.ProfileGraph;

}

@if (@Model != null)
    {
    <div class="row Portfolio">
        <div class="col-md-1 style=" padding: 0px; margin: 0px;}"">
            <img src=@ViewBag.User.ProfileImageUrl alt="@ViewBag.User.Name" class="img-circle">
        </div>
        <div class="col-md-4" style="padding: 0px; margin: 0px;}">
            <h2>Welcome @Model.Name</h2>
        </div>
    </div>

    <hr />
    <h3>Details Of @ViewBag.User.Name</h3>
    <div class="row">
        <ul class="nav nav-pills nav-stacked col-md-4">
            <li class="active"> <a href="#"> <span class="badge pull-right">@ViewBag.User.FollowersCount</span> Followers </a> </li>
            <li class="active"> <a href="#"> <span class="badge pull-right">@ViewBag.User.FriendsCount</span> Friends </a> </li>
            <li class="active"> <a href="#"> <span class="badge pull-right">@ViewBag.User.ListedCount</span> Listed </a> </li>
        </ul>
    </div>
    <br />
    <br />
    <hr />
    <p> Here is the graphical representation of the tweets for past 2 week.</p>
    <p>On the horizontal line is the date at which the user tweeted. We exclude the dates at which user didn't tweet. (Less headache)</p>
    <p>On the vertical line is the number  of tweets.</p>
    <p><strong>Enjoy Guys!!!</strong> , we are building things.</p>
    <br />
    <br />
    <hr />

    <div class="row">
        <div class="col-md-6">
            @Html.Partial("LineChart", pG._LineGraph_NoOfTweetsByDate);
        </div>
        <div class="col-md-6">
            @Html.Partial("BarChart", pG._LineGraph_NoOfTweetsByDate);
        </div>
    </div>
    <div class="row">
        <h4>Most Favorite Tweets</h4>
        <div class="ScrollStyle">
            <ul class="list-group col-md-6">
                @foreach (var item in vP.mostDetails._GetMostFavouriteTweets)
                    {
                    <li class="list-group-item"><a href="@item.url">@item.UserName : @item.TwitteHandle : @item.TweetText</a></li>
                    }
            </ul>
        </div>
    </div>

    <h3>Profile</h3>
    <div>
        <div class="row">
            <h4>Most Re-tweeted Tweets</h4>
            <div class="ScrollStyle">
                <ul class="list-group col-md-6">
                    @foreach (var item in vP.mostDetails._GetMostRetweetedTweets)
                    {
                        <li class="list-group-item"><a href="@item.url">@item.UserName : @item.TwitteHandle : @item.TweetText</a></li>
                        }
                </ul>
            </div>
        </div>

        <div class="row">
            <h4>User's Most Re-tweeted Tweets</h4>
            <div class="ScrollStyle">
                <ul class="list-group col-md-6">
                    @foreach (var item in vP.userDetails._GetUserMostRetweet)
                    {
                        <li class="list-group-item"><a href="@item.url">@item.UserName : @item.TwitteHandle : @item.tweet : @item.Retweet</a></li>
                        }
                </ul>
            </div>
        </div>

        <div class="row">
            <h4>User's Most Mention</h4>
            <div class="ScrollStyle">
                <ul class="list-group col-md-6">
                    @foreach (var item in vP.userDetails._GetUserMostMention)
                    {
                        <li class="list-group-item"><a href="@item.url">@item.UserName : @item.TwitteHandle : @item.tweet : @item.Mention</a></li>
                        }
                </ul>
            </div>
        </div>

        <div class="row">
            <h4>User's Most Replies</h4>
            <div class="ScrollStyle">
                <ul class="list-group col-md-6">
                    @foreach (var item in vP.userDetails._GetUserMostRepliesTo)
                    {
                        <li class="list-group-item"><a href="@item.url">@item.UserName : @item.TwitteHandle : @item.Replies</a></li>
                        }
                </ul>
            </div>
        </div>

        <div class="row">
            <h4>User used the Hash-tags</h4>
            <div class="ScrollStyle">
                <ul class="list-group col-md-6">
                    @foreach (var item in vP.hashtags.hashtagDetails)
                    {
                        <li class="list-group-item">@item.hashtag : @item.hashtagsCount</li>
                        }
                </ul>
            </div>
        </div>
    </div>

    <h3>Connection</h3>
    <div>
        <div class="row">
            <h4>Most Followed that Mention You</h4>
            <div class="ScrollStyle">
                <ul class="list-group col-md-6">
                    @foreach (var item in vC.userDetails._MostFollowedUsersThatMentionedYou)
                    {
                        <li class="list-group-item"><a href="@item.url">@item.UserName : @item.TwitteHandle : @item.Mention</a></li>
                        }
                </ul>
            </div>
        </div>

        <div class="row">
            <h4>User Who Mention You The Most</h4>
            <div class="ScrollStyle">
                <ul class="list-group col-md-6">
                    @foreach (var item in vC.userDetails._UsersWhoMentionedYouTheMost)
                    {
                        <li class="list-group-item"><a href="@item.url">@item.UserName : @item.TwitteHandle : @item.Mention</a></li>
                        }
                </ul>
            </div>
        </div>
    </div>

    <h3>Keyword : @vK.keyword</h3>
    <div>
        <div class="row">
            <h4>Recent Tweets</h4>
            <div class="ScrollStyle">
                <ul class="list-group col-md-6">
                    @foreach (var item in vK.mostDetails._GetRecentTweets)
                    {
                        <li class="list-group-item"><a href="@item.url">@item.UserName : @item.TwitteHandle : @item.TweetText</a></li>
                        }
                </ul>
            </div>
        </div>

        <div class="row">
            <h4>Most Re-tweeted Tweets</h4>
            <div class="ScrollStyle">
                <ul class="list-group col-md-6">
                    @foreach (var item in vK.mostDetails._GetMostRetweetedTweets)
                    {
                        <li class="list-group-item"><a href="@item.url">@item.UserName : @item.TwitteHandle : @item.TweetText</a></li>
                        }
                </ul>
            </div>
        </div>

        <div class="row">
            <h4>Most Favorite Tweets</h4>
            <div class="ScrollStyle">
                <ul class="list-group col-md-6">
                    @foreach (var item in vK.mostDetails._GetMostFavouriteTweets)
                    {
                        <li class="list-group-item"><a href="@item.url">@item.UserName : @item.TwitteHandle : @item.TweetText</a></li>
                        }
                </ul>
            </div>
        </div>

        <div class="row">
            <h4>Most Followed User that uses this keyword</h4>
            <div class="ScrollStyle">
                <ul class="list-group col-md-6">
                    @foreach (var item in vK.userDetails._GetMostFollowedUsers)
                    {
                        <li class="list-group-item"><a href="@item.url">@item.UserName : @item.TwitteHandle : @item.Follower</a></li>
                        }
                </ul>
            </div>
        </div>

        <div class="row">
            <h4>Hash-tags</h4>
            <div class="ScrollStyle">
                <ul class="list-group col-md-6">
                    @foreach (var item in vK.hashtags.hashtagDetails)
                    {
                        <li class="list-group-item">@item.hashtag  : @item.hashtagsCount</li>
                        }
                </ul>
            </div>
        </div>

    </div>
    }
else
    {
    <h2>Authentication failed!</h2>
    <p>Something went wrong during the authentication, please <a href="/Home/TwitterAuth">try again</a>!</p>
    }
